<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>privacidad</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="icon" href="/static/images/Escudo-uach.png" type="image/x-icon"/>
</head>
<body class = "flex flex-col min-h-screen" >
  <header class="bg-purple-900">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="{{ url_for('inicio') }}" class="-m-1.5 p-1.5">
          <span class="sr-only">Universidad Autonoma de Chihuahua</span>
          <img class="h-16 w-auto" src="/static/images/Escudo-uach.png" alt="Logotipo Universidad Autonoma de Chihuahua" />
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="{{ url_for('inicio') }}" class="text-sm/6 font-semibold text-white">Inicio</a>
        <a href="{{ url_for('formulario') }}" class="text-sm/6 font-semibold text-white">Realiza tu pedido</a>
        <a href="{{ url_for('acciones') }}" class="text-sm/6 font-semibold text-white">Acciones</a>
        <a href="{{ url_for('inventario') }}" class="text-sm/6 font-semibold text-white">Inventario</a>
        <a href="{{ url_for('graficas') }}" class="text-sm/6 font-semibold text-white">Estadisticas</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-sm/6 font-semibold text-white">Inicia sesión<span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
  </header>

      <main class="flex flex-grow">
      <div class="container mx-auto my-auto p-7 bg-white  rounded-lg shadow-lg text-center">
        <h1 class="text-3xl font-bold text-center mb-4">Aviso de Privacidad y Políticas</h1>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2 font-weigth">Uso de Datos Personales</h2>
            <p >
                La información personal que usted proporcione será utilizada exclusivamente para la gestión y seguimiento de su pedido de chamarras universitarias. Nos comprometemos a resguardar sus datos de manera confidencial y a no compartirlos con terceros sin su consentimiento, salvo cuando sea requerido por las autoridades legales o judiciales.
            </p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Política de No Reembolsos</h2>
            <p>
                Debido a la naturaleza de nuestros productos y el proceso de fabricación personalizado, no aceptamos devoluciones ni reembolsos una vez confirmado el pedido. Le recomendamos revisar cuidadosamente los detalles del producto y confirmar su talla y especificaciones antes de realizar el pedido.
            </p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Consentimiento</h2>
            <p>
                Al realizar un pedido en nuestro sitio, usted acepta los términos descritos en este aviso de privacidad y nuestras políticas de no reembolso. Este aviso de privacidad podrá ser modificado en el futuro, en cuyo caso le notificaremos sobre cualquier cambio relevante.
            </p>
        </section>

        <button class="bg-yellow-300 hover:bg-yellow-400 text-black font-bold py-2 px-4 rounded-full">
            Regresar a la página principal
        </button>
        <div class="flex items-center flex-col justify-center">
            <img src="/static/images/escudo-horizontal.png" alt="Imagen 2"
                 class="w-5/12 h-5/12 border-4 p-10 m-10">
        </div>
          
    </div>
  </main>
  <footer
  class="bg-purple-900 text-white py-4 flex flex-col items-center justify-between h-auto mt-auto"
>
  <div class="container mx-auto flex flex-col items-center space-y-4">
    <div class="flex items-center space-x-2">
      <small class="block text-sm"
        >2024 © Todos los derechos reservados</small
      >
      <ul class="inline-flex space-x-2">
        <li><span>|</span></li>
        <li>
          <a href="{{ url_for('privacidad')}}" class="text-white hover:text-opacity-80"
            >Privacidad y Políticas</a
          >
        </li>
      </ul>
    </div>

    <div class="flex items-center">
      <a
        href="https://wa.me/+5216144099940"
        class="inline-flex items-center bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600 transition"
      >
        <i class="fab fa-whatsapp mr-2"></i> Contáctanos por WhatsApp
      </a>
    </div>
  </div>
</footer>
</body>
</html>